name: CI

description: Run Pester tests on Windows and Linux.

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  unit-tests:
    name: Unit (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          ## ubuntu 24.04 doesn't have a package for libncurses5
          - ubuntu-22.04
          - windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run unit tests
        shell: pwsh
        run: |
          Invoke-Pester -Path ./Tests -Tag 'Unit' -Output Detailed

      - name: Run cross-version tests
        shell: pwsh
        run: |
          Invoke-Pester -Path ./Tests -Tag 'CrossVersion' -Output Detailed

  integration-tests:
    name: Integration (${{ matrix.os }}, FB ${{ matrix.firebird-version }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - windows-latest
        firebird-version:
          - '3.0.12'
          - '4.0.5'
          - '5.0.3'
    env:
      FIREBIRD_VERSION: ${{ matrix.firebird-version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run integration tests
        shell: pwsh
        run: |
          Invoke-Pester -Path ./Tests -Tag 'Integration' -Output Detailed
